/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Light.ttf);
  }
@font-face {
    font-family: JuliusOne;
    src: url(fonts/JuliusSansOne-Regular.ttf);
  }
@font-face {
    font-family: Dancing;
    src: url(fonts/DancingScript-VariableFont_wght.ttf);
  }    

/* Preloader */

.spinner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #2d2d2d;
    z-index: 99;
    transition: 2s;
    }
.spinner {
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    width: 150px;
    height: 150px;
    animation: rotate 5s infinite linear;
    z-index: 100;
    transform-origin: center;
}
.spinner img {
    width: 100%;
    height: 100%;
    display: block;
}
@keyframes rotate {
    0% {transform: rotate(0deg)}
    0% {transform: rotate(360deg)}
}


/* Proprietà generali della pagina */
body{
    font-family: Montserrat;
    font-size: 20px;
    color: #2d2d2d;
    background-color: white;
    /* in order to avoid conflicts between animations
    and mix-blend-mode property in children elements => */
    mix-blend-mode: multiply;
    scroll-behavior: smooth;
    position: relative;
}
h1, h2, h3, h4, h5{
    font-family: Dancing;
}
/* header e nav */
header#top {
    display: grid;
    grid-template-columns: repeat(56, 1fr);
    grid-template-rows: repeat(34, 1fr);
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    /* in order to avoid conflicts between animations
    and mix-blend-mode property in children elements => */ mix-blend-mode: multiply;
}
li {
    font-family: JuliusOne;
    list-style: none;
    text-align: center;
    font-size: 100%;
    padding: 10%;
    font-weight: 800;
    display: block;
    text-align: center;
}
a {
    color: black;
    text-decoration: none;
    background-image: linear-gradient(black, black);
    background-size: 0 2px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .5s ease-out;
    cursor: pointer;
}
.nav a:hover {
    background-size: 100% 2px, auto;
}
li p {
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
    margin: 0px auto;
}
.soft_light {
    mix-blend-mode: soft-light;
}
.background {
    grid-column-start: 1;
    grid-column-end: 57;
    grid-row-start: 1;
    grid-row-end: 35;
    background: url(images/header_background_big.jpg) no-repeat center center;
    background-size: cover;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn_from_right_2 3.5s 1 ease;
    background-attachment: fixed;
    animation-delay: 2s;
}
@keyframes fadeIn_from_right_2 {
    0% {transform: translateX(10%);}
    100% {transform: translateX(0px);}
}
.rectangle_1 {
    grid-column-start: 23;
    grid-column-end: 57;
    grid-row-start: 1;
    grid-row-end: 8;
    z-index: 2;
    background-color: #BCBBBA;
    animation: fadeIn 3.5s 1 ease;
    animation-delay: 2s;
}
@keyframes fadeIn {
    from {transform: translateY(-75%);}
    to {transform: translateY(0px);}
}
.rectangle_2 {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 35;
    z-index: 0;
    background-color: #E1D5C7;
    animation: scale 3s 1 ease;
    transform-origin: left;
    animation-delay: 2s;
}
@keyframes scale {
    0% {transform: scaleX(0.8);}
    50% {transform: scaleX(1.1);}
    100% {transform: scaleX(1);}
}
.rectangle_3 {
    grid-column-start: 13;
    grid-column-end: 30;
    grid-row-start: 1;
    grid-row-end: 12;
    z-index: 2;
    background-color: #F2D2B5;
    animation: appear 2.5s 1 ease;
    animation-delay: 2s;
}
@keyframes appear {
    from {opacity: 0}
    to {opacity: 1}
}
.rectangle_4 {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 31;
    grid-row-end: 35;
    z-index: 3;
    background-color: #F2D2B5;
    animation: appear 2.5s 1 ease;
    animation-delay: 2s;
}
.rectangle_5 {
    grid-column-start: 1;
    grid-column-end: 18;
    grid-row-start: 24;
    grid-row-end: 35;
    z-index: 4;
    background-color: #F2D2B5;
    animation: fadeIn_from_left 2.5s 1 ease;
    animation-delay: 2s;
}
@keyframes fadeIn_from_left {
    from {transform: translateX(-75%);}
    to {transform: translateX(0px);}
}
.rectangle_6 {
    grid-column-start: 50;
    grid-column-end: 57;
    grid-row-start: 1;
    grid-row-end: 35;
    z-index: 5;
    background-color: #F2D2B5;
    animation: fadeIn_from_right 2.5s 1 ease;
    animation-delay: 2s;
}
@keyframes fadeIn_from_right {
    0% {transform: translateX(75%);}
    75% {transform: translateX(0px);}
}
.rectangle_7 {
    grid-column-start: 1;
    grid-column-end: 20;
    grid-row-start: 1;
    grid-row-end: 6;
    z-index: 6;
    background-color: #F2D2B5;
    animation: fadeIn_from_bottom 3.5s 1 ease;
    animation-delay: 2s;
}
@keyframes fadeIn_from_bottom {
    0% {transform: translateY(25%);}
    50% {transform: translateY(-15%);}
    100% {transform: translateY(0);}
}
.title {
    background-color: black;
    border: 4px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    animation: fadeIn_from_left_2 3.5s 1 ease;
    animation-delay: 2s;
}
@keyframes fadeIn_from_left_2 {
    0% {transform: translateX(-25%) translateY(20%); opacity: 0}
    35% {opacity: 1}
    50% {transform: translateX(2%) translateY(0%); opacity: 1}
    100% {transform: translateX(0px) translateY(0); opacity: 1}
}
.title h1 {
    font-family: JuliusONe;
    font-size: 60px;
    padding: 20px;
    font-weight: lighter;
}
.title h2 {
    font-size: 50px;
    padding: 20px;
    font-weight: lighter;
    position: relative;
}
.title h2::before {
    position: absolute;
    content: '';
    left:0;
    top:0;
    height: 3px;
    width: 100%;
    background: white;
}
.title img {
    height: 35px;
    width: auto;
}
.title span {
    margin: 0px 20px;
}
/*.title {
    overflow: hidden;
    animation-name: grow;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}
@keyframes grow {
    from {transform: scaleX(0)}
    to {transform: scaleX(1)}
}*/
nav#desktop {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 34;
    z-index: 0;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(20, 1fr);
}
ul.nav {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 15;

}
.social li {
    padding: 0px;
}
ul.social {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 15;
    grid-row-end: 21;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.fab {
    color: black;
    font-size: 36px;
}
main {
    position: relative;
}
main:after {
    content:'';
    position: absolute;
    background-color: #ECECEC;
    top: 0;
    left: 44%;
    height: 100%;
    width: 56%;
    z-index: -1;
}
main:before {
    content:'';
    position: absolute;
    background-color: #fefefe;
    top: 0;
    left: 0;
    width: 44%;
    height: 100%;
    z-index: -1;
}
section {
    margin: 0px 20%;
    padding-top: 75px;
}
section#galleries {
    padding-bottom: 75px;
    height: auto;
}
button {
    outline: none;
    font-family: Dancing;
    font-size: 28px;
    padding: 10px 30px;
    background-color: white;
    border: 2px solid black;
    margin: 0px auto;
    display: block;
    cursor: pointer;
}
/*button:hover {
    background-color: rgb(119, 119, 119);
}*/
article.preview_about {
    padding: 75px 0px;
    display: flex;
}
figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
article.preview_about figure {
    width: 50%;
    height: 200px;
    overflow: hidden;
}
.text_about {
    width: 50%;
    border: 1px solid black;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.text_about h2 {
    font-size: 40px;
    text-align: center;
    color: white;
}
.text_about span {
    position: relative;
    padding: 45px;
    display: inline-block;
}
.text_about span:after {
    content: '';
    position: absolute;
    background-color: white;
    left: 0;
    top: 100%;
    height: 2px;
    width: 100%;
}
.text_about div {
    font-size: 15px;
    padding: 45px;
    color: white;
}
article.preview_galleries {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(17, 1fr) ;
    grid-gap: 20px ;
    padding: 75px 0px;
    height: 1100px;
}
.preview_galleries div {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1 ;
    grid-row-end: 8;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.preview_galleries div h2 {
    font-family: JuliusOne;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    padding: 10px;
}
.preview_galleries div:after {
    content:'';
    position: absolute;
    background-color: #ECECEC;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: -1;
}
.preview_galleries div:before {
    content:'';
    position: absolute;
    background-color: #fefefe;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
}
.preview_galleries div h2 span {
    padding: 2px;
}
.figure_1 {
    grid-column-start: 6;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 8;
}
.figure_2 {
    grid-column-start: 15;
    grid-column-end: 20;
    grid-row-start: 1;
    grid-row-end: 5;
}
.figure_3 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 18;
}
.figure_4 {
    grid-column-start: 6;
    grid-column-end: 15;
    grid-row-start: 8;
    grid-row-end: 12;
}
.figure_5 {
    grid-column-start: 15;
    grid-column-end: 20;
    grid-row-start: 5;
    grid-row-end: 12;
}
.figure_6 {
    grid-column-start: 6;
    grid-column-end: 20;
    grid-row-start: 12;
    grid-row-end: 18;
}
a span {
    display: inline-block;
}
/*a:hover span, button:hover span {
    animation: bounce 0.4s ease;
}*/
/* hamburger menu */

#hamb_menu {
    content: '';
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 0;
}
#hamb_menu ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, 1fr);
    height: 100vh;
}
#hamb_menu ul li, #hamb_menu ul div {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 100;
    background: url(images/back_menu.jpg) no-repeat 0 0;
    background-attachment: fixed;
    transform: translateX(-102%);
}
.goes_in {
    transform: translateX(0)!important;
}
#hamb_menu ul div {
    display: flex;
    justify-content: center;
    align-items: center;
} 
#hamb_menu ul p.circle {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
}
#hamb_menu ul li {
   display: flex;
   align-items: center;
   justify-content: center;
}
#hamb_menu ul a {
    color:white;
    font-weight: bold;
}
#button_menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 30px;
    z-index: 11;
    display: none;
}
#button_menu span {
    position: static;
    display: block;
    height: 4px;
    background-color: white;
    border-radius: 80px;
}
#button_menu :nth-child(1) {
    margin-bottom: 10px;
}
#button_menu :nth-child(3) {
    margin-top: 10px;
}
footer {
    height: 300px;
    background-color: #2d2d2d;
}
@keyframes bounce { 
    0% {-webkit-transform: translateY(0);}
    50% {-webkit-transform: translateY(-10px);}
    100% {-webkit-transform: translateY(0px);}
}
@keyframes bounce { 
    0% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0px);}
  }

/** Page About **/

header.small {
    min-height: 40vh;
    display: grid;
    position: relative;
    grid-template-columns: repeat(56, 1fr);
    grid-template-rows: repeat(17, 1fr);
}
.background_about {
    grid-column-start: 1;
    grid-column-end: 57;
    grid-row-start: 1;
    grid-row-end: 18;
    background: url(images/background_about.png) no-repeat center center;
    background-size: cover;
    z-index: -1;
}
.rectangle_1_about {
    grid-column-start: 6;
    grid-column-end: 20;
    grid-row-start: 6;
    grid-row-end: 18;
    background-color: #96bb85;
    z-index: 0;
}
.rectangle_2_about {
    grid-column-start: 1;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 12;
    background-color: #F2D2B5;
    z-index: 1;
}
.rectangle_3_about {
    grid-column-start: 35;
    grid-column-end: 53;
    grid-row-start: 5;
    grid-row-end: 18;
    background-color: #96bb85;
    z-index: 2;
}
.rectangle_4_about {
    grid-column-start: 30;
    grid-column-end: 50;
    grid-row-start: 1;
    grid-row-end: 15;
    background-color: #F2D2B5;
    z-index: 3;
}
.nav_two {
    grid-column-start: 1;
    grid-column-end: 57;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: #1B1918;
    z-index: 8;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
}
.nav_two div {
    border-color: white;
    color: white;
    display: flex;
    align-items: center;
}
.nav_two ul {
    display: flex;
}
.nav_two ul li a {
    color: white;
    transition: none;
}
.nav_two ul li {
    padding: 0;
    margin: auto 30px;
}
.nav_two ul .ellisse {
    background-color: white;
}
.logo img {
    width: auto;
    height: 35px;
    margin: 0px 20px;
}
.logo_responsive {
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
}
.logo_responsive img {
    height: 40px;
    width: auto;
}
.routing span{
    font-family: Dancing;
    font-size: 30px;
}
.routing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 75px;
}

.routing a:hover {
    background-size: 100% 2px, auto;
}
.arrows p:hover {
    animation: bounce 0.4s ease;
}

.ellisse {
    height: 15px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid black;
}
#app {
    padding: 75px 0px;
}
.about_foto_title {
    display: flex;
    justify-content: space-around;
    padding-bottom: 75px;
}
.about_foto_title div {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 }
.about_foto_title h2 {
   text-align: center;
   font-size: 54px;
}
figure.round {
    width: 40%;
    border-radius: 50%;
    overflow: hidden;
    height: 330px;
}
.small_decoration {
    width: 70%;
    margin: 0px auto;
    display: block;
}
.about_text p {
    margin-bottom: 20px;
    font-size: 18px;
}
.arrows {
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
}
.arrows p {
    font-family: Dancing;
    font-size: 30px;
    margin: 0px -40px;
}
.arrows p span {
   padding: 0px 20px;
   font-size: 25px;
}
.fade_in {
    animation: fade_in 0.5s 1 ease-in-out;
}
@keyframes fade_in {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0%);}
}
.rolling {
    animation: roll 1.5s 1 ease-out;
    transform-origin: center;
}
@keyframes roll {
    0% {transform: translateX(-200%) rotate(-360deg) scale(0); opacity: 0;}
    50% {transform: translateX(-200%) rotate(-360deg) scale(0); opacity: 1;}
    100% {transform: translateX(0) rotate(0deg) scale(1);}
}

/* Media Queries */

/* Wide Screen */

@media screen and (min-width: 1700px) {
    li {
        font-size: 170%;
    }
    article.preview_galleries {
        height: 1500px;
    }
    .title h1 {
        font-size: 90px;
    }
    .title h2 {
        font-size: 80px;
    }
    .text_about div {
        font-size: 24px;
    }
    .text_about h2 {
        font-size: 70px;
    }
    button {
        font-size: 36px;
    }
    .preview_galleries div h2 {
        font-size: 36px;
    }
}
@media screen and (max-width: 1300px) {
    section {
        margin: 0px 19%;
    }
    .text_about div {
        font-size: 15px;
        padding: 40px;
    }
    .text_about span {
        padding: 40px;
  }
  .text_about span {
    padding: 40px;
    }
}
@media screen and (max-width: 1220px) {
    section {
        margin: 0px 15%;
    }
    .text_about div {
        font-size: 14px;
        padding: 35px;
    }
    .text_about span {
        padding: 35px;
  }
  .text_about span {
        padding: 35px;
    }
}
@media screen and (max-width: 1040px) {
    section {
        margin: 0px 13%;
    }
}
@media screen and (max-width: 980px) {
    section {
        margin: 0px 12%;
    }
    .text_about div {
        font-size: 12px;
        padding: 30px;
    }
    .text_about span {
        padding: 30px;
  }
  .text_about span {
        padding: 30px;
    }
}

/* Setting for iPad Pro */

@media screen and (max-width: 1024px) {
    .rectangle_2 {
        grid-column-end: 5;
    }
    #desktop nav {
        grid-column-start: 1;
        grid-column-end: 57;
        grid-row-start: 30;
        grid-row-end: 34;
        display: flex;
        justify-content: center;
    }
    .nav {
        display: block;
    }
    #desktop nav ul.social {
        flex-direction: row;
        grid-column-start: none;
        grid-column-end: none;
        grid-row-start: none;
        grid-row-end: none;
        justify-content: center;
        width: 100%;
    }
    #desktop nav ul.social li {
        padding: 0px 10px;
    }
    @keyframes fadeIn_from_right_2 {
        0% {transform: translateX(2.5s);}
        100% {transform: translateX(0px);}
    }
    #button_menu {
        display: block;
    }
    header.small {
        min-height: 20vh;
    }
    footer {
        height: 250px;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    header.small {
    min-height: 30vh;
    }
    section {
        padding-top: 50px;
    }
    .routing, .about_foto_title {
        padding-bottom: 50px;
    }
    #app {
        padding: 50px 0px;
    }
    .arrows {
        padding-top: 30px;
    }
    footer {
        height: 250px;
    }
    #button_menu {
        display: block;
    }
    .nav_two {
        display: none;
    }
    .logo_responsive {
        position: absolute;
        top: 20px;
        left: 20px;
        display: block;
        z-index: 10;
    }
    .logo_responsive img {
        height: 40px;
        width: auto;
    }

}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    section {
        margin: 0px 10%;
    }
    header#top {
        min-height: 50vh;
    }
    .title {
        padding: 20px;
    }
    .rectangle_1 {
        grid-row-end: 7;
    }
    .rectangle_2 {
        grid-column-end: 9;
    }
    .rectangle_3 {
        grid-row-end: 9;
    }
    .rectangle_4 {
        grid-column-end: 6;
        grid-row-start: 32;
    }
    .rectangle_7 {
        grid-row-end: 5;
    }
    nav#desktop {
        grid-column-end: 8;
    }
    li {
        font-size: 80%;
    }
    article.preview_galleries {
        height: 1200px;
    }
    footer {
        height: 250px;  
    }
    .fab {
        font-size: 28px;
    }
    #button_menu {
        display: none;
    }
    footer {
        height: 250px;
    }
}
/* Setting for iPad */

@media screen and (max-width: 960px) {
    header#top {
        min-height: 50vh;
    }
    .rectangle_2 {
        grid-column-end: 4;
    }
    .rectangle_5 {
        grid-column-end: 22;
        grid-row-start: 29;
    }
    .title {
        padding: 5px;
    }
    .title h1 {
        font-size: 50px;
    }
    .title h2 {
        font-size: 38px;
    }
    nav#desktop {
        grid-column-start: 1;
        grid-column-end: 57;
        grid-row-start: 30;
        grid-row-end: 34;
        display: flex;
        justify-content: center;
    }
    .nav {
        display: none;
    }
    nav#desktop ul.social {
        flex-direction: row;
        grid-column-start: none;
        grid-column-end: none;
        grid-row-start: none;
        grid-row-end: none;
        justify-content: center;
        width: 100%;
    }
    nav#desktop ul.social li {
        padding: 0px 10px;
    }
    @keyframes fadeIn_from_right_2 {
        0% {transform: translateX(2.5s);}
        100% {transform: translateX(0px);}
    }
    .logo img {
        width: auto;
        height: 27px;
        margin: 0px 20px;
    }
    #button_menu {
        display: block;
    }
    .nav_two {
        display: none;
    }
    .logo_responsive {
        position: absolute;
        top: 20px;
        left: 20px;
        display: block;
        z-index: 10;
    }
    .logo_responsive img {
        height: 40px;
        width: auto;
    }
}